<% provide(:page_title, "home") %>
    <% provide(:home_active, "active") %>
        <!DOCTYPE HTML>
        <html>

        <head>
            <style>
            </style>
        </head>

        <body>
            <div class="grid-container">
                <div class="item1">
                    <%= render 'layouts/navbar' %>
                </div>
                <div class="item2">
                    <p class="heading-home">Web Development and Marketing</p>
                    <p class="subheading-home">So you don't have to</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Quintus: Est plane, Piso, ut dicis, inquit.
                        Dic in quovis conventu te omnia facere, ne doleas. Duo Reges: constructio interrete.
                        <b>At certe gravius.</b>
                        Et harum quidem rerum facilis est et expedita distinctio. Quasi vero, inquit, perpetua oratio rhetorum solum, non etiam philosophorum
                        sit. Et harum quidem rerum facilis est et expedita distinctio. Nec tamen ullo modo summum pecudis
                        bonum et hominis idem mihi videri potest. Sed tamen omne, quod de re bona dilucide dicitur, mihi
                        praeclare dici videtur. Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit? </p>
                        <img class="homeimganim" src="http://www.comunidademe.com/images/images/gallery/662d121072082e7877d130abcf8a8c2ascenes.gif"></img>
                    <p>
                        <i>Prave, nequiter, turpiter cenabat;</i>
                        <b>Odium autem et invidiam facile vitabis.</b> Non modo carum sibi quemque, verum etiam vehementer carum
                        esse? Terram, mihi crede, ea lanx et maria deprimet. Hoc uno captus Erillus scientiam summum bonum
                        esse defendit nec rem ullam aliam per se expetendam.
                        <i>Hos contra singulos dici est melius.</i>
                        <mark>Bonum integritas corporis: misera debilitas.</mark> Nam Pyrrho, Aristo, Erillus iam diu abiecti.
                        </p>
                    <p>Nemo nostrum istius generis asotos iucunde putat vivere.
                        <b>Torquatus, is qui consul cum Cn.</b> Sin dicit obscurari quaedam nec apparere, quia valde parva sint,
                        nos quoque concedimus; Respondent extrema primis, media utrisque, omnia omnibus. Quamquam te quidem
                        video minime esse deterritum. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus
                        amicos quam se ipsos diligant. Audax negotium, dicerem impudens, nisi hoc institutum postea translatum
                        ad philosophos nostros esset.
                        <i>Nemo igitur esse beatus potest.</i> Huius, Lyco, oratione locuples, rebus ipsis ielunior. </p>
                </div>
                <div class="item3">
                    <div class="item3-1"><p class="homeservicesdirection">Complete Marketing for Your Business</p></div>
                    <div class="item3-2">Web Development
                        <p>Nemo nostrum istius generis asotos iucunde putat vivere. Torquatus, is qui consul cum Cn. Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque concedimus; Respondent extrema primis, media utrisque, omnia omnibus. Quamquam te quidem video minime esse deterritum. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos diligant. Audax negotium, dicerem impudens, nisi hoc institutum postea translatum ad philosophos nostros esset. Nemo igitur esse beatus potest. Huius, Lyco, oratione locuples, rebus ipsis ielunior.</p>
                    </div>
                    <div class="item3-3">Graphic Design</div>
                    <div class="item3-4">Social Media Marketing</div>
                    <div class="item3-5"><button class="viewmoreservices">View More</button></div>
                </div>
                <div class="item4"></div>
            </div>
        </body>

        </html>
        