<!DOCTYPE HTML>
<html>
<head>
    <div class="navbar">
    <ul id="nav-bar">    
        <div class="header"><img id="logo" src="https://i.imgur.com/P6Qb2l1.png"></img></div>
        <li id="page"><a href="home" class="<%= yield(:home_active) %>">Home</a></li>
        <li id="page"><a href="services" class="<%= yield(:services_active) %>">Services</a></li>
        <li id="page"><a href="about" class="<%= yield(:about_active) %>">About</a></li>
        <li id="page"><a href="contact" class="<%= yield(:contact_active) %>">Contact Us</a></li>
     </ul>
    </div>

<style>

</style>
</head>
<body>


</body>
</html>